/*Estilos para el header*/
header{
    background-color: rgb(232, 215, 255);
    padding: 20px;
    text-align: center;
}

/*Estilos para las secciones*/
#info-personal, #habilidades{
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}

footer{
    text-align: center;
    background-color: rgb(179, 157, 214);
    padding: 10px;
}

/**** Media Queries para hacer la página responsiva ****/
/* (moviles) */
@media only screen and (max-width: 600px){
    header, section{
        padding: 10px;
    }

    h1{
        font-size: 22px;
    }

    h2{
        font-size: 14px;
    }
}    

/* (tabletas) */
@media only screen and (min-width: 601px) and (max-width: 1024px){
    header, section{
        padding: 20px;
    }

    h1{
        font-size: 26px;
    }

    h2{
        font-size: 20px;
    }
} 

@media only screen and (min-width: 1025px){
    header, section{
        padding: 30px;
    }
} 